.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    gap: 20px;
    display: flex;
}

.nav a {
    color: black;
    font-size: 22px;
    text-decoration: none;
}